---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Octubre 2023 - Abril 2024",
    title: "Desarrollador De Software",
    company: "Linexperts Consultoría Empresarial |  Bogotá, Colombia",
    description:
      "Durante mi tiempo en Linexperts, participé en el desarrollo de una plataforma de gestión de objetivos para empresas, utilizando tecnologías como Java (Spring), React y PostgreSQL. Mi labor incluyó la creación de nuevas funcionalidades y la mejora continua de la plataforma para optimizar la experiencia del usuario y el rendimiento del sistema. Trabajé bajo el enfoque de metodologías ágiles (Scrum), participando en sprints semanales donde desarrollé, probé, desplegué y corregí bugs, contribuyendo al proceso iterativo para asegurar la calidad y la eficiencia del sistema.",
    
  },
  {
    date: "Marzo 2021-Octubre 2022 ",
    title: "Tecnico En Sistemas",
    company: "Alcaldía del Municipio de Palocabildo, Tolima ",
    description:
      "Mantenimiento y soporte de hardware, software, redes, servidores y bases de datos. Fui responsable de la gestión y administración de la página web de la Alcaldía, asegurando su funcionamiento adecuado y actualizaciones periódicas. Proporcioné soporte técnico a los usuarios, resolviendo incidencias y optimizando el uso de sistemas informáticos para mejorar la eficiencia de los procesos municipales.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
